:root {
  --main-white: #e9d8a6;
  --main-red: #415a77;
  --main-blue: #0d1b2a;
  --main-light-blue: #1b263b;
  --main-gray: #415a77;
}

html {
  box-sizing: border-box;
  font-size: 60%;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  text-align: center;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: var(--main-white);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
  background-color: var(--main-red);
}

/* Nav */
.nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: var(--main-red);
  z-index: 10;
  padding: 10px;
}

.nav-list {
  display: flex;
  margin-left: 2rem;
  padding-left: 5px;
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

.nav-list a {
  display: block;
  font-size: 1, 5rem;
  padding: 1px;
}

nav.nav {
  margin: 0 auto;
  padding: 0.5% 1%;
  text-align: center;
}

nav.nav a {
  margin: 0px 10px;
  padding: 5px 5px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: row;
    align-items: center;
  }

  .nav-list a {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
  }
}

nav.nav a::before {
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0px;
  top: 0px;
  content: '';
  background: var(--main-white);
  opacity: 0.3;
  transition: all 0.3s;
}

nav.nav a:hover::before {
  width: 100%;
}

ul {
  list-style: none;
}

/* Welcome section */
.welcome-section {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--main-blue);
  padding-top: 2.5%;
}

.welcome-section .text {
  width: 100%;
}

.welcome-section .text>h2 {
  font-style: italic;
  color: var(--main-white);
  width: 100%;
  font-size: 2rem;
}

.welcome-section .text>h1 {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 5rem;
}

@media (max-width: 768px) {

  .welcome-section .text>h1 {
  font-size: 4rem;
 }
}

@media (max-width: 768px) {
  .welcome-section .text>h2 {
    font-size: 2rem;
    padding-bottom: 4rem;
  }
}

.profile-picture {
  position: relative;
  display: inline-block;
}

.foto-perfil {
  position: relative;
  width: 100%;
  border-radius: 10%;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  filter: brightness(10%);
}

.foto-perfil:hover {
  filter: brightness(100%);
}

.profile-icon {
  font-size: 16px;
}

/* About me section */


.row {
  width: 100%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 30px;
  align-items: center;
  justify-content: center;
}

.row .left {
  overflow: hidden;
}

.row .left img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.row .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.row .right .content {
  padding-left: 5px;
}

.row .right .content p {
  font-size: 26px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 991px) {
  .row .right .content {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .row {
    width: 80%;
    grid-template-columns: 1fr;
    padding-top: 20%;
  }
}

.right {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.right.show {
  opacity: 1;
  transform: translateY(0);
}


/* Projects section */
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-gray);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  margin-top: -20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.projects-section-header.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .projects-section-header {
    font-size: 4rem;
    padding-bottom: 3rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4rem;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-blue);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.code {
  color: var(--main-light-blue);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: var(--main-red);
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  background: var(--main-light-blue);
  padding-top: 4rem;
}

@media (max-width: 768px) {
  .contact-section {
    padding-top: 10rem;
  }
}

.contact-section-header>h2 {
  font-size: 6rem;
}

@media (max-width: 768px) {
  .contact-section-header>h2 {
    font-size: 4rem;
  }
}

.contact-section-header>p {
  font-style: italic;
}

.contact-section-header {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.contact-section-header.show {
  opacity: 1;
  transform: translateY(0);
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
}

.contact-links-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 30px;
}

.contact-details {
  font-size: 2rem;
  transition: transform 0.3s ease-out;
  padding: 1rem;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-blue);
  border-top: 4px solid var(--main-red);
}

footer>p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}